<?xml version="1.0" encoding="UTF-8"?>
<Settings>
   
   <!--settings-->
   
   <!--host for getting user info-->
   <userhost>shackapi.stonedonkey.com</userhost>
   
   <!--host for getting chatty stuff-->
   <host>shackapi.stonedonkey.com</host>
   
   <!--host for sending lol votes-->
   <lolhost>lmnopc.com</lolhost>
   
   <!--login stuff-->
   <username>CRasterImage</username>
   <password>iJ6Nl56SkpqN====</password>
   
   <!--general stuff-->
   <tab_title_word_limit>7</tab_title_word_limit>
   <tab_title_char_limit>50</tab_title_char_limit>
   <smooth_scroll_scale>0.1</smooth_scroll_scale>
   <skin_folder>roundshack</skin_folder>
   <mouse_wheel_scale>1.0</mouse_wheel_scale>
   <lang>en_US</lang>
   <numshow_truncated>10</numshow_truncated>
   <smooth_scroll>true</smooth_scroll>
   <AutoShowLoadedImages>false</AutoShowLoadedImages>
   <text_scale>1.4641</text_scale>
   <DockedMode>true</DockedMode>
   <PinningInStories>true</PinningInStories>
   <DoublePageStory>false</DoublePageStory>
   <ShowLOLButtons>true</ShowLOLButtons>
   <AlwaysOnTopWhenNotDocked>false</AlwaysOnTopWhenNotDocked>
   <num_minutes_check_inbox>3</num_minutes_check_inbox>
   <normal_fontname>Arial</normal_fontname>
   <quoted_fontname>Times New Roman</quoted_fontname>
   <code_fontname>Courier New</code_fontname>
   
   <!--Check your filters!-->
   <enable_nws>true</enable_nws>
   <enable_inf>true</enable_inf>
   <enable_offtopic>true</enable_offtopic>
   <enable_stupid>true</enable_stupid>
   <enable_political>true</enable_political>
   
   <!--Color-Coded usernames-->
   <Mods color="255,0,0" enable="true">
      <name>degenerate</name>
      <name>drucifer</name>
      <name>ajax</name>
      <name>dante</name>
      <name>enigmatic</name>
      <name>genjuro</name>
      <name>hirez</name>
      <name>lacker</name>
      <name>pupismyname</name>
      <name>thekidd</name>
      <name>zakk</name>
      <name>brickmatt</name>
      <name>carnivac</name>
      <name>edgewise</name>
      <name>filtersweep</name>
      <name>haiku</name>
      <name>jokemon</name>
      <name>multisync</name>
      <name>rauol duke</name>
      <name>sexninja!!!!</name>
      <name>ninjase</name>
      <name>tomservo</name>
      <name>busdriver3030</name>
      <name>cygnus x-1</name>
      <name>dognose</name>
      <name>edlin</name>
      <name>geedeck</name>
      <name>helvetica</name>
      <name>kaiser</name>
      <name>paranoid android</name>
      <name>portax</name>
      <name>redfive</name>
      <name>sexpansion pack</name>
      <name>sgtsanity</name>
      <name>utilitymaximizer</name>
      <name>mikecyb</name>
      <name>Dave-A</name>
   </Mods>
   <ShackEmployees color="0,255,0" enable="true">
      <name>Steve Gibson</name>
      <name>Maarten Goldstein</name>
      <name>Chris Faylor</name>
      <name>Nick Breckon</name>
      <name>Aaron Linde</name>
      <name>Alice O&apos;Connor</name>
      <name>Jeff Mattas</name>
      <name>Garnett Lee</name>
      <name>Brian Leahy</name>
      <name>Ackbar2020</name>
      <name>greg-m</name>
      <name>XAVdeMATOS</name>
      <name>Shacknews</name>
      <name>sHugamom</name>
   </ShackEmployees>
   <GameDevs color="255,0,255" enable="true">
      <name>jason bergman</name>
      <name>dahanese</name>
      <name>OverloadUT</name>
      <name>eskimo spy</name>
      <name>georgeb3dr</name>
      <name>Joe3DR</name>
      <name>Mr. 9000</name>
      <name>Scatti</name>
      <name>ScottMi11er</name>
      <name>Dravalen</name>
      <name>fredrik s</name>
      <name>derean</name>
      <name>YoYo</name>
      <name>lplasmatron</name>
      <name>speon</name>
      <name>Derek French</name>
      <name>dmiller</name>
      <name>Karnov</name>
      <name>aavenr</name>
      <name>-efx-</name>
      <name>timmie</name>
      <name>CliffyB</name>
      <name>fufux</name>
      <name>jbury</name>
      <name>Ivan Sulic</name>
      <name>d3tached</name>
      <name>sullisnack</name>
      <name>timaste</name>
      <name>hellchick</name>
      <name>rickmus</name>
      <name>byorn</name>
      <name>DaMojo</name>
      <name>duvalmagic</name>
      <name>kungfusquirrel</name>
      <name>MADMikeDavis</name>
      <name>mikeyzilla</name>
      <name>wieder</name>
      <name>threeup</name>
      <name>lvlmaster</name>
      <name>zeroprey</name>
      <name>patd</name>
      <name>toddh</name>
      <name>xian</name>
      <name>Avatar</name>
      <name>DKo5</name>
      <name>Inherent</name>
      <name>SilverSnake</name>
      <name>cannelbrae</name>
      <name>Cowbs</name>
      <name>Zoid</name>
      <name>Normality</name>
      <name>darweidu</name>
      <name>Freshview</name>
      <name>gndagger</name>
      <name>Rampancy</name>
      <name>sammyl</name>
      <name>tostador</name>
      <name>Buckyfg1</name>
      <name>cheshirecat</name>
      <name>PetriRMD</name>
      <name>Andy Hanson</name>
      <name>Jack Mathews</name>
      <name>bozer</name>
      <name>s2jason</name>
      <name>bakanoodle</name>
      <name>mittense</name>
      <name>AshenTemper</name>
      <name>dtabacco</name>
      <name>jake2000</name>
      <name>mikecyb</name>
      <name>brome</name>
      <name>Krypt_</name>
      <name>Ease_One</name>
      <name>mnok</name>
      <name>MrLobo</name>
      <name>Doug_Support</name>
      <name>Erik Johnson</name>
      <name>garymct</name>
      <name>locash</name>
      <name>RobinWalker</name>
      <name>ColoradoCNC</name>
      <name>Pezman</name>
      <name>KnyteHawkk</name>
      <name>deveus1</name>
      <name>lord cecil</name>
      <name>eonix</name>
      <name>Omning</name>
      <name>robingchyo</name>
      <name>Romsteady</name>
   </GameDevs>
</Settings>